services:
  app-db:
    container_name: app-db
    image: public.ecr.aws/docker/library/postgres:17.5
    env_file:
      - .env
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - ${POSTGRES_DATA_DIR}:/var/lib/postgresql/data
    networks:
      - app
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      PGPORT: ${POSTGRES_PORT}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 2s
      timeout: 5s
      retries: 10

  app-redis:
    image: public.ecr.aws/docker/library/redis:8.4.0
    container_name: app-redis
    env_file:
      - .env
    ports:
      - '${REDIS_PORT:-6379}:6379'
    volumes:
      - redis-data:/data
    command: >
      sh -c "
      if [ -n \"$REDIS_PASSWORD\" ]; then
        redis-server --requirepass $REDIS_PASSWORD
      else
        redis-server
      fi
      "
    healthcheck:
      test:
        - CMD
        - sh
        - -c
        - 'if [ -n "$REDIS_PASSWORD" ]; then redis-cli -a $REDIS_PASSWORD ping; else redis-cli ping; fi'
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app

volumes:
  postgres-data:
  redis-data:

networks:
  app:
    name: app-network
    driver: bridge
