version: '3.8'

services:
  pgdb:
    image: postgres:17-alpine
    container_name: pgdb
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - pgdb-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    env_file:
      - .env
    ports:
      - '${REDIS_PORT:-6379}:6379'
    volumes:
      - redis-data:/data
    command: >
      sh -c "
      if [ -n \"$REDIS_PASSWORD\" ]; then
        redis-server --requirepass $REDIS_PASSWORD
      else
        redis-server
      fi
      "
    healthcheck:
      test:
        - CMD
        - sh
        - -c
        - 'if [ -n "$REDIS_PASSWORD" ]; then redis-cli -a $REDIS_PASSWORD ping; else redis-cli ping; fi'
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdb-data:
  redis-data:
